# ============================================
# MongoDB Persistent Volume Claim
# Project: Node.js + MongoDB
# Author: Aamir Qureshi
# ============================================
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mongodb-data-pvc
  namespace: mca-app
  labels:
    app: mongodb
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: standard-rwo
  resources:
    requests:
      storage: 5Gi

